@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

header {
    padding: 30px 80px; 
    background-color: #00b894;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    font-size: 1.6rem;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.nav ul li {
    padding-left: 25px;

}

.main {
    height: 80vh;    
    width: 60%;
    border: 1px solid red;
    display: flex;
    padding: 20px;  
    background-color: #00b894;
}

.main .left {
    border: 2px solid black;
    width: 50%;
}

.main .left .name {
    font-size: 1.8rem;
}

.main .right {
    border: 2px solid black;
    width: 50%;
}

.footer {   
    background-color: #00b894;
}

.footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 20px 0; 
}

@media (max-width: 500px) {
    .nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style: none;
    }
}